<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wificontrol">

    <!-- ============================= -->
    <!-- SMS -->
    <!-- ============================= -->

    <!-- دریافت SMS -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- خواندن SMS -->
    <uses-permission android:name="android.permission.READ_SMS" />


    <!-- ============================= -->
    <!-- INTERNET / NETWORK -->
    <!-- ============================= -->

    <!-- دسترسی اینترنت برای ارسال پیام به بله -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- بررسی وضعیت شبکه -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- ============================= -->
    <!-- WIFI -->
    <!-- ============================= -->

    <!-- مشاهده وضعیت Wi-Fi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- تغییر وضعیت Wi-Fi در نسخه‌های قدیمی Android -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />


    <!-- ============================= -->
    <!-- NOTIFICATION -->
    <!-- Android 13+ -->
    <!-- ============================= -->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <!-- ============================= -->
    <!-- APPLICATION -->
    <!-- ============================= -->

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- ========================= -->
        <!-- MainActivity -->
        <!-- ========================= -->

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!-- ========================= -->
        <!-- SMS Receiver -->
        <!-- ========================= -->

        <receiver
            android:name=".SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">

            <intent-filter android:priority="999">

                <action
                    android:name="android.provider.Telephony.SMS_RECEIVED" />

            </intent-filter>

        </receiver>

    </application>

</manifest>
